$main-background:#13404d;    /* #113e5b   logo color */
$hover-font-color: #FFE0AB;  /*  #9d9c9e  logo outline color */
$logo-grey: #9d9c9e;
$section-bg-brown: #FFE0AB;

$h1-font-size: clamp(1.5rem, 2vw, 3rem);